/* Styling for index.html */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Colors */
    --main-color: #efe8ea;
    --secondary-color: #d6b999;
    --tertiary-color: #995936;
    --quaternary-color: #aa6d3f;
    --quinary-color: #b6804b;

    /* Font Sizes for p texts*/
    --font-smallest: 12px;
    --font-small: 15px;
    --font-medium: 20px;
    --font-large: 25px;
    --font-large-2: 30px;
    --font-larger: 50px;
    --font-largest: 100px;

    /* Font Family Names with Alternatives */
    --Vivaldi-Std: 'Vivaldi Std', 'Palace Script MT', 'Brush Script MT', cursive;
    --Friz-Quadrata: 'Friz Quadrata', sans-serif;
    --Helvetica: Helvetica, Arial, sans-serif;
}

/* Fonts */
@font-face {
    font-family: 'Vivaldi Std';
    src: url('../fonts/Vivaldi\ Std.woff') format('woff'),
         url('../fonts/Vivaldi\ Std.ttf') format('truetype'),
         url('../fonts/Vivaldi\ Std.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Engravers MT';
    src: url('../fonts/Engravers\ MT.woff') format('woff'),
         url('../fonts/Engravers\ MT.ttf') format('truetype'),
         url('../fonts/Engravers\ MT.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/Helvetica.woff') format('woff'),
         url('../fonts/Helvetica.ttf') format('truetype'),
         url('../fonts/Helvetica.woff2') format('woff2');
         font-style: normal;
         font-weight: lighter;
}

@font-face {
    font-family: 'Friz Quadrata';
    src: url('../fonts/Friz\ Quadrata.woff') format('woff'),
         url('../fonts/Friz\ Quadrata.ttf') format('truetype'),
         url('../fonts/Friz\ Quadrata.woff2') format('woff2');
         font-style: normal;
         font-weight: lighter;
}

body {
    margin: 15px 30px;
    padding: 10px;
    font-family: var(--Helvetica);
    min-height: 100vh;
    background: url(../images/main_background.png) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

/* Navigation Bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    z-index: 1000;
}

.site-name h1{
    font-family: var(--Vivaldi-Std);
    font-size: var(--font-larger);
    color: var(--main-color);
    text-shadow: 2px 1px 1px var(--secondary-color);
    font-weight: 400;
}

.navbar{
    display: flex;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar ul {
    display: flex;
    list-style: none;
    color: inherit;
    gap: 20px
}

.navbar-item {
    margin: 0 20px;
    justify-content: space-evenly;
    font-size: var(--font-medium);
    font-weight: 500;
    color: var(--main-color);
}

.navbar-menu {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.navbar-menu.item-menu{
    margin-right: 40px;
}

.navbar-menu.odin-icon img {
    width: 40px;  
    height: auto;
    flex-shrink: 1;
    scale: 1.2;
}

/* Sections */
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Hero Section */
.hero-section {
    height: 700px;
    min-width: 100px;
    text-align: center;
    color: var(--main-color);
    display: flex;
    flex-direction: column; 
}

.hero-container {
    padding-top: 65px;
    flex: 1; 
}

.hero-contents{
    margin: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero-contents #tagline{
    font-family: var(--Friz-Quadrata);
    font-size: 120px;
    font-weight: lighter;
    letter-spacing: 2px;
    text-transform: uppercase; 
    line-height: 100px;
    text-shadow: 1px 1px 20px var(--secondary-color);
    
}

.hero-contents #subtitle{
    margin-top: 10px;
    font-family: var(--Helvetica);
    font-size: var(--font-large)
}

.hero-contents a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    margin: 0 auto; 
}

.hero-contents .button{
    margin-top: 30px;
    background: var(--quaternary-color);
    padding: 25px 30px;
    border-radius: 40px;
    min-width: 10%;
    align-self: center;
    box-shadow: 1px 1px 10px var(--secondary-color);
    border: 2px solid var(--secondary-color);
}

.hero-contents .button p{
    text-transform: uppercase;
}

/* Frame line */
#frame-line {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: auto;  /* Add this */
}

#frame-line img {
    width: 30rem;
    margin: 20px auto;
    transform: translate(-5px)
}

/* Recipes Section */
.recipe-section{
    min-width: 100px;
    text-align: center;
    color: var(--main-color);
    display: flex;
    flex-direction: column;
}

.recipe-container h1{
    font-family: var(--Vivaldi-Std);
    font-size: var(--font-largest);
    color: var(--main-color);
    text-shadow: 2px 1px 1px var(--secondary-color);
    font-weight: 400;
    transform: translate(-8px); /* Specifically center the text (because of the font) */
    margin-top: 50px;
    margin-bottom: 25px;
}

.recipe-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin: 40px;
}

.recipe-card {
    background-color: var(--quaternary-color);
    border-radius: 15px;
    padding: 50px 15px 15px;
    max-width: 300px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 3px solid var(--secondary-color);
}

.recipe-card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 9px double var(--secondary-color);
    transform: translateY(-80px);
    box-sizing: border-box;
    margin-bottom: -30px;
}

.recipe-card-content {
    text-align: center;
    color: var(--main-color);
    transform: translateY(-70px);
    margin-bottom: -80px;
}

.recipe-card-content h2 {
    margin: 10px;
    font-family: var(--Friz-Quadrata);
    font-size: var(--font-large);
}

.recipe-card-content p {
    font-size: var(--font-small);
    margin-bottom: 10px;
    padding: 5px;
}

.recipe-card-content a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase; 
    font-size: var(--font-smallest);
    color: var(--main-color);
    background-color: var(--tertiary-color);
    padding: 8px 15px;
    border-radius: 25px;
    border: 2px solid var(--secondary-color);
    margin-top: 10px;
}

/* About Us Section */
.about-us-section{
    min-width: 100px;
    text-align: center;
    color: var(--main-color);
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    margin-bottom: 100px;
}

.about-us-container h1{
    font-family: var(--Vivaldi-Std);
    font-size: var(--font-largest);
    color: var(--main-color);
    text-shadow: 2px 1px 1px var(--secondary-color);
    font-weight: 400;
    transform: translate(-8px); /* Specifically center the text (because of the font) */
    margin-top: 50px;
    margin-bottom: 25px;
}

.about-us-contents{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    width: 1250px;
    align-items: center;
}

.about-us-contents .subtitle-text{
    font-family: var(--Helvetica);
    font-size: var(--font-large-2);
    color: var(--primary-color);
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 25px;
    width: 50%;
    text-align: left;
}

.about-us-contents img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    box-sizing: border-box;
    margin-bottom: -30px;
    -webkit-filter: drop-shadow(5px 5px 5px var(--secondary-color))
                    blur(1px); 
    filter: drop-shadow(0 0 30px var(--secondary-color)) 
           drop-shadow(0 0 50px var(--secondary-color)) 
           drop-shadow(0 0 70px var(--secondary-color)) 
           brightness(95%);
}